<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazymakercircle.imServer.model.dao.OffMessageMapper">
  <resultMap id="BaseResultMap" type="com.crazymakercircle.imServer.model.OffMessage">
    <id column="mes_id" jdbcType="VARCHAR" property="mesId" />
    <result column="to_id" jdbcType="VARCHAR" property="toId" />
    <result column="from_id" jdbcType="VARCHAR" property="fromId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    mes_id, to_id, from_id, content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from off_message
    where mes_id = #{mesId,jdbcType=VARCHAR}
  </select>

  <select id="selectByUid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from off_message
    where to_id = #{toId,jdbcType=VARCHAR}
  </select>





  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from off_message
    where mes_id = #{mesId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crazymakercircle.imServer.model.OffMessage">
    insert into off_message (mes_id, to_id, from_id, 
      content)
    values (#{mesId,jdbcType=VARCHAR}, #{toId,jdbcType=VARCHAR}, #{fromId,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crazymakercircle.imServer.model.OffMessage">
    insert into off_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mesId != null">
        mes_id,
      </if>
      <if test="toId != null">
        to_id,
      </if>
      <if test="fromId != null">
        from_id,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mesId != null">
        #{mesId,jdbcType=VARCHAR},
      </if>
      <if test="toId != null">
        #{toId,jdbcType=VARCHAR},
      </if>
      <if test="fromId != null">
        #{fromId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazymakercircle.imServer.model.OffMessage">
    update off_message
    <set>
      <if test="toId != null">
        to_id = #{toId,jdbcType=VARCHAR},
      </if>
      <if test="fromId != null">
        from_id = #{fromId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where mes_id = #{mesId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazymakercircle.imServer.model.OffMessage">
    update off_message
    set to_id = #{toId,jdbcType=VARCHAR},
      from_id = #{fromId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where mes_id = #{mesId,jdbcType=VARCHAR}
  </update>
</mapper>